apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: configure-alertmanager-operator-view
  annotations:
    package-operator.run/phase: rbac
rules:
- apiGroups:
  - ''
  resources:
  - nodes
  verbs:
  - get
  - list
- apiGroups:
  - config.openshift.io
  resources:
  - clusterversions
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - config.openshift.io
  resources:
  - proxies
  - infrastructures
  verbs:
  - get
  - list
  - watch
