apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: configure-alertmanager-operator-edit
  annotations:
    package-operator.run/phase: rbac
rules:
- apiGroups:
  - ''
  attributeRestrictions: null
  resources:
  - secrets
  - configmaps
  verbs:
  - get
  - list
  - watch
  - patch
  - update
- apiGroups:
  - batch
  resources:
  - jobs
  verbs:
  - get
  - list
  - watch
